<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>

            <div class="form-group">
                <label class="col-md-4">Email</label>
                <input type="text" class="form-control" 
                    formControlName="usr_email" 
                    #usr_email
                    [(ngModel)] = "user.usr_email"
                />
            </div>
            <div *ngIf="angForm.controls['usr_email'].invalid && (angForm.controls['usr_email'].dirty || angForm.controls['usr_email'].touched)"  class="alert alert-danger">
                <div *ngIf="angForm.controls['usr_email'].errors.required">
                    Email is required.
                </div>
                <div *ngIf="angForm.controls['usr_email'].errors.email">
                    Email must be a valid email.
                </div>

            </div>

            <div class="form-group">
                <label class="col-md-4">Name</label>
                <input type="text" class="form-control" 
                    formControlName="usr_fullname" 
                    #usr_fullname 
                    [(ngModel)] = "user.usr_fullname"
                />
            </div>
            <div *ngIf="angForm.controls['usr_fullname'].invalid && (angForm.controls['usr_fullname'].dirty || angForm.controls['usr_fullname'].touched)"  class="alert alert-danger">
                <div *ngIf="angForm.controls['usr_fullname'].errors.required">
                    Name is required.
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4">Address</label>
                <input type="text" class="form-control" 
                    formControlName="usr_address" 
                    #usr_address 
                    [(ngModel)] = "user.usr_address"
                />
            </div>
            <div *ngIf="angForm.controls['usr_address'].invalid && (angForm.controls['usr_address'].dirty || angForm.controls['usr_address'].touched)"  class="alert alert-danger">
                <div *ngIf="angForm.controls['usr_address'].errors.required">
                    Address is required.
                </div>
            </div>

            <div class="form-group">
                <button (click) = "updateUser(usr_email.value, usr_fullname.value, usr_address.value)" type="submit" class="btn btn-primary"
                    [disabled]="angForm.invalid" >
                    Update User
                </button>
            </div>
        </form>
    </div>
</div>